html {
    height: 100%;
}
body {
    min-height: 100%;
    background: linear-gradient(180deg, rgba(31,48,68,1) 0%, rgba(100,108,121,1) 100%);
    color: #FB9039
}
#main-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: transparent !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: radial-gradient(rgba(251,144,57,1), rgba(251,144,57,0)) 1;
}

    #main-nav a {
        color: #FB9039
    }

#topmost-wrapper {
    padding-top: 3.5rem;
    
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*XS*/
@media (max-width: 576px) {

}

/*SM*/
@media (min-width: 576px) {
}

/*MD*/
@media (min-width: 768px) {
}

/*LG*/
@media (min-width: 992px) {
}

/*XL*/
@media (min-width: 1200px) {
}